target/
build/
.gradle/
out/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.nb-gradle/
*.class

.env
*.yml
!application.yml

.DS_Store
Thumbs.db

jacoco.exec
/coverage/
/test-output/
/surefire-reports/
/allure-results/
