# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle (jeśli używane)
build/

# Spring Boot configs
.env
application-local.yml
application-dev.yml
application-prod.yml

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea/
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Test reports
/coverage/
/jacoco.exec
/surefire-reports/
/test-output/
/allure-results/

# OS junk
.DS_Store
Thumbs.db
